.search-results {
    width: 90%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.probability-bar {
    background-color: #ddd;
    height: 20px;
    position: relative;
}

.filled {
    background-color: #4CAF50;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* Общие стили */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer {
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Шапка сайта */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-height: 100px;
}

/* Секция описания принципа */

.booking-principle {
    background-color: #eef4fa;
    text-align: center;
    padding: 40px 0;
}

/* Форма поиска */

.search-form {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.search-form form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-form input, .search-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
}

/* Акции */

.promotions {
    background-color: #fff;
    padding: 20px 0;
}

.promotion-item {
    margin-bottom: 20px;
}

.promotion-item img {
    max-width: 100%;
}

.promotion-item h3 {
    margin-top: 10px;
}

/* Форма подписки */

.subscription-form {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px 0;
}

.subscription-form input, .subscription-form button {
    margin: 10px;
    padding: 10px;
}

/* Подвал сайта */

footer {
    background-color: #333;
    color: #fff;
}

.phone {
    margin-bottom: 20px;
}
